<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Recipes</h1>
    <div th:each="recipe : ${recipes}">
        <p th:text="${recipe.description}">description</p>
        <img style='display:block; width:300px;height:300px;' id='base64image' th:src="@{'data:image/jpeg;base64,' + ${recipe.imageBase64}}" />
        <div th:each="ingredient : ${recipe.ingredients}">
            <p th:text="${ingredient.description}"></p>
        </div>
    </div>

</body>
</html>